<!DOCTYPE HTML>
{% load staticfiles %}
<html>
 <head>
  <title>工程机械应急救援管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="{% static "assets/css/dpl-min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "assets/css/bui-min.css" %}" rel="stylesheet" type="text/css" />
   <link href="{% static "assets/css/main-min.css" %}" rel="stylesheet" type="text/css" />
 </head>
 <body>

  <div class="header">
    
      <div class="dl-title">
        <a href="http://sc.chinaz.com" title="文档库地址" target="_blank"><!-- 仅仅为了提供文档的快速入口，项目中请删除链接 -->
          <span class="lp-title-port">工程机械应急救援管理系统</span><span class="dl-title-text"></span>
        </a>
      </div>

    <div class="dl-log">欢迎您，
        <span class="dl-log-user">{{ user}}</span>
        <a href="../logout/" title="退出系统" class="dl-log-quit">[退出]</a>
        <!--a href="http://http://sc.chinaz.com/" title="文档库" class="dl-log-quit">文档库</a-->
    </div>
  </div>
   <div class="content">
    <div class="dl-main-nav">
      <div class="dl-inform"><div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div></div>
      <ul id="J_Nav"  class="nav-list ks-clear">
        <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">首页</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-order">系统管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-inventory">基本管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-supplier">实时监控</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-marketing">应急指挥管理</div></li>
      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
   </div>
  <script type="text/javascript" src="{% static "assets/js/jquery-1.8.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/js/bui.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/js/config.js" %}"></script>

  <script>
    BUI.use('common/main',function(){
      var config = [{
          id:'menu', 
          homePage : 'code',
          menu:[{
              text:'首页',
              items:[
                {id:'code',text:'首页',href: '/mainpage'  },
                {id:'main-menu',text:'顶部导航',href: '/welcome' },
                {id:'second-menu',text:'右边菜单',href: '/form' },
                {id:'dyna-menu',text:'动态菜单',href: '/camera' }
              ]
            },{
              text:'页面操作',
              items:[
                {id:'operation',text:'页面常见操作',href:"{% static 'main/operation.html'%}"},
                {id:'quick',text:'页面操作快捷方式',href:"{% static 'main/quick.html'%}"}  
              ]
            },{
              text:'文件结构',
              items:[
                {id:'resource',text:'资源文件结构',href:"{% static 'main/resource.html'%}"},
                {id:'loader',text:'引入JS方式',href:"{% static 'main/loader.html'%}"}  
              ]
            }]
          },{
            id:'form',
            menu:[{
                text:'表单页面',
                homePage:'code',
                items:[
                  {id:'code',text:'修改密码',href:'/modify_password/?username={{user}}'},
                  {id:'example',text:'表单示例',href:"{% static 'form/example.html'%}"},
                  {id:'introduce',text:'表单简介',href:"{% static 'form/introduce.html'%}"},
                  {id:'valid',text:'表单基本验证',href:"{% static 'form/basicValid.html'%}"},
                  {id:'advalid',text:'表单复杂验证',href:"{% static 'form/advalid.html'%}"},
                  {id:'remote',text:'远程调用',href:"{% static 'form/remote.html'%}"},
                  {id:'group',text:'表单分组',href:"{% static 'form/group.html'%}"},
                  {id:'depends',text:'表单联动',href:"{% static 'form/depends.html'%}"}
                ]
              },{
                text:'成功失败页面',
                items:[
                  {id:'success',text:'成功页面',href:"{% static 'form/success.html'%}"},
                  {id:'fail',text:'失败页面',href:"{% static 'form/fail.html'%}"}
                
                ]
              },{
                text:'可编辑表格',
                items:[
                  {id:'grid',text:'可编辑表格',href:"{% static 'form/grid.html'%}"},
                  {id:'form-grid',text:'表单中的可编辑表格',href:"{% static 'form/form-grid.html'%}"},
                  {id:'dialog-grid',text:'使用弹出框',href:"{% static 'form/dialog-grid.html'%}"},
                  {id:'form-dialog-grid',text:'表单中使用弹出框',href:"{% static 'form/form-dialog-grid.html'%}"}
                ]
              }]
          },{
            id:'search',
            menu:[{
                text:'搜索页面',
                items:[
                {id:'code',text:'搜索页面代码',href: '/add_device'},
                  {id:'example',text:'搜索页面示例',href:"{% static 'search/example.html'%}"},
                  {id:'example-dialog',text:'搜索页面编辑示例',href:"{% static 'search/example-dialog.html'%}"},
                  {id:'introduce',text:'搜索页面简介',href:"{% static 'search/introduce.html'%}"}, 
                  {id:'config',text:'搜索配置',href:"{% static 'search/config.html'%}"}
                ]
              },{
                text : '更多示例',
                items : [
                  {id : 'tab',text : '使用tab过滤',href :"{% static 'search/tab.html'%}"}
                ]
              }]
          },{
            id:'detail',
            menu:[{
                text:'详情页面',
                items:[
                  {id:'code',text:'详情页面代码',href:"{% static 'detail/code.html'%}"},
                  {id:'example',text:'详情页面示例',href:"{% static 'detail/example.html'%}"},
                  {id:'introduce',text:'详情页面简介',href:"{% static 'detail/introduce.html'%}"}
                ]
              }]
          },{
            id : 'chart',
            menu : [{
              text : '图表',
              items:[
                  {id:'code',text:'引入代码',href:"{% static 'chart/code.html'%}"},
                  {id:'line',text:'折线图',href:"{% static 'chart/line.html'%}"},
                  {id:'area',text:'区域图',href:"{% static 'chart/area.html'%}"},
                  {id:'column',text:'柱状图',href:"{% static 'chart/column.html'%}"},
                  {id:'pie',text:'饼图',href:"{% static 'chart/pie.html'%}"}, 
                  {id:'radar',text:'雷达图',href:"{% static 'chart/radar.html'%}"}
              ]
            }]
          }];
      new PageUtil.MainPage({
        modulesConfig : config
      });
    });
  </script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
